@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20%);
    }
    100% {
      opacity: 1;
      transform: translateY(35%);
    }
  }

.authorize {
    animation: 1s ease-out 0s 1 fadeIn;
    border: 1px solid white;
    background: rgba(46, 42, 46, 0.781);
    max-width: 600px;
    margin: 30px auto;
    padding: 40px;
    border-radius: 3px;
    line-height: 2;
    transform: translateY(35%);
}

.authorize form {
    margin: 10px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px;
}

.authorize h1 {
    letter-spacing: 5px;
    text-align: center;
    border: 1px solid white;
}

.login {
    transform: translateY(35%);
    animation: 1s ease-out 0s 1 fadeIn;
    border: 1px solid white;
    background: rgba(46, 42, 46, 0.781);
    max-width: 600px;
    margin: 30px auto;
    padding: 40px;
    border-radius: 3px;
    line-height: 2;
}

.login form {
    margin: 10px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px;
}

.login h1 {
    letter-spacing: 5px;
    text-align: center;
    border: 1px solid white;
}

.login input {
    font-size: 2rem;
}

.login button {
    margin: 10px 0;
    display: block;
}

/*  Register */

.register {
    transform: translateY(35%);
    animation: 1s ease-out 0s 1 fadeIn;
    border: 1px solid white;
    background: rgba(46, 42, 46, 0.781);
    max-width: 600px;
    margin: 30px auto;
    padding: 40px;
    border-radius: 3px;
    line-height: 2;
}

.register form {
    margin: 10px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px;
}

.register h1 {
    letter-spacing: 5px;
    text-align: center;
    border: 1px solid white;
}

.register input {
    font-size: 2rem;
}

.register button {
    margin: 10px 0;
    display: block;
}